*{
    margin: 0;
    padding: 0;
}


.poppins-light {
    font-family: "Poppins", system-ui;
    font-weight: 300;
    font-style: normal;
}

.formm{
    background-color: #E8F0FE;
}

.resume-font{
    font-size: 17px;
    font-weight: 400;
}